<a href="https://colab.research.google.com/github/GeonheeKong/dataAnalysis/blob/chapter1/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#시리즈 인덱스

In [ ]:
# dictionary --> Series

In [ ]:
import pandas as pd

In [ ]:
dict_data={'a':1,'b':2,'c':3}

In [ ]:
a=pd.Series(dict_data)

In [ ]:
print(a)

a    1
b    2
c    3
dtype: int64

In [ ]:
print(type(a))

<class 'pandas.core.series.Series'>

In [ ]:
# List --> Series

In [ ]:
import pandas as pd

In [ ]:
list_data=['abc',1,'Apple',100,True]

In [ ]:
t=pd.Series(list_data)

In [ ]:
print(t)

0      abc
1        1
2    Apple
3      100
4     True
dtype: object

In [ ]:
# Series의 index/values속성

In [ ]:
idx=t.index

In [ ]:
val=t.values

In [ ]:
print(idx)

RangeIndex(start=0, stop=5, step=1)

In [ ]:
print(val)

['abc' 1 'Apple' 100 True]

원소 선택

In [ ]:
# Tuple --> Series

In [ ]:
import pandas as pd

In [ ]:
tup_data=('영인','2010-05-01','여',True)

In [ ]:
t=pd.Series(tup_data,index=['이름','생년월일','성별','학생여부'])

In [ ]:
print(t)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [ ]:
print(t[0])

영인

In [ ]:
print(t['이름'])

영인

In [ ]:
print(t[[0,1]])

이름              영인
생년월일    2010-05-01
dtype: object

In [ ]:
print(t[1:2])

생년월일    2010-05-01
dtype: object

In [ ]:
print(t['이름':'학생여부'])

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [ ]:
# 정수형 인덱스로 범위 설정하면 마지막 인덱스가 포함이 안되지만, 인덱스 이름을 사용하면 마지막 인덱스 포함

# 데이터프레임

In [ ]:
import pandas as pd

In [ ]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9]}

In [ ]:
t=pd.DataFrame(dict_data)

In [ ]:
print(t)

   c0  c1  c2
0   1   4   7
1   2   5   8
2   3   6   9

In [ ]:
print(type(t))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# 행 인덱스 / 열 이름 속성 사용자 지정

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame([[15,'남','덕영중'],[17,'여','덕영고']],index=['건희','수연'],columns=['나이','성별','학교'])

In [ ]:
print(df)

    나이 성별   학교
건희  15  남  덕영중
수연  17  여  덕영고

In [ ]:
# 행 인덱스 /열 이름 속성 변경 (rename) (원본 수정할 때는 inplace=true)

In [ ]:
df.index=['한석','수빈']

In [ ]:
df.columns=['연령','성','소속']

In [ ]:
print(df)

    연령  성   소속
한석  15  남  덕영중
수빈  17  여  덕영고

In [ ]:
df.rename(index={'한석':'건희','수빈':'수연'},inplace=True)

In [ ]:
print(df)

    연령  성   소속
건희  15  남  덕영중
수연  17  여  덕영고

In [ ]:
# 행/열 삭제 (drop) (axis - 행 삭제 시 0 / 열 삭제 시 1)

In [ ]:
import pandas as pd

In [ ]:
exam_data={'수학':[1,2,3],'영어':[4,5,6],'과학':[7,8,9],'사회':[10,11,12]}

In [ ]:
df=pd.DataFrame(exam_data,index=['인아','서준','민아'])

In [ ]:
print(df)

    수학  영어  과학  사회
인아   1   4   7  10
서준   2   5   8  11
민아   3   6   9  12

In [ ]:
df2 = df[:]

In [ ]:
df2.drop('인아',inplace=True)

<ipython-input-108-3734d5525f71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('인아',inplace=True)

In [ ]:
print(df2)

    수학  영어  과학  사회
서준   2   5   8  11
민아   3   6   9  12

In [ ]:
df3=df[:]

In [ ]:
df3.drop(['서준','인아'],inplace=True)

<ipython-input-112-bc4cee2f0428>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['서준','인아'],inplace=True)

In [ ]:
print(df3)

    수학  영어  과학  사회
민아   3   6   9  12

In [ ]:
df3.drop(['수학'],axis=1,inplace=True)

<ipython-input-114-a91f46736528>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['수학'],axis=1,inplace=True)

In [ ]:
print(df3)

    영어  과학  사회
민아   6   9  12

In [ ]:
# 데이터베이스 - 행 선택

In [ ]:
import pandas as pd

In [ ]:
exam_data={'이름': ['서준','동원','연아'], '수학':[90,80,70],'영어': [70,80,90],'과학':[80,80,80]}

In [ ]:
df=pd.DataFrame(exam_data)

In [ ]:
print(df)

   이름  수학  영어  과학
0  서준  90  70  80
1  동원  80  80  80
2  연아  70  90  80

In [ ]:
math1=df['수학']

In [ ]:
print(math1)

0    90
1    80
2    70
Name: 수학, dtype: int64

In [ ]:
english=df['영어']

In [ ]:
print(english)

0    70
1    80
2    90
Name: 영어, dtype: int64

In [ ]:
multi=df[['영어','수학']]

In [ ]:
print(multi)

   영어  수학
0  70  90
1  80  80
2  90  70

In [ ]:
 # 범위 슬라이싱의 고급 활요

In [ ]:
print(df.iloc[0:2])

   이름  수학  영어  과학
0  서준  90  70  80
1  동원  80  80  80

In [ ]:
print(df.iloc[::-1])

   이름  수학  영어  과학
2  연아  70  90  80
1  동원  80  80  80
0  서준  90  70  80

In [ ]:
# 원소 선택 --> loc : 인덱스 값 / iloc : 정수형 인덱스

In [ ]:
print(df.iloc[:2,1:3])

   수학  영어
0  90  70
1  80  80

In [ ]:
print(df.iloc[1:2,2:3])

   영어
1  80

In [ ]:
# 새로운 인덱스 값 지정 --> df.set_index

In [ ]:
df.set_index('이름',inplace=True)

In [ ]:
print(df)

    수학  영어  과학
이름
서준  90  70  80
동원  80  80  80
연아  70  90  80

In [ ]:
print(df.iloc[1,2])

80

In [ ]:
# 열 추가 --> df['열 이름']='데이터 값'

In [ ]:
df['국어']=80

In [ ]:
print(df)

    수학  영어  과학  국어
이름
서준  90  70  80  80
동원  80  80  80  80
연아  70  90  80  80

In [ ]:
# 행 추가 --> df.loc[행 이름] = '데이터 값'

In [ ]:
df.loc['동규']=[10,14,35,65]

In [ ]:
print(df)

    수학  영어  과학  국어
이름
서준  90  70  80  80
동원  80  80  80  80
연아  70  90  80  80
동규  10  14  35  65

In [ ]:
# 원소 값 변경

In [ ]:
df.iloc[0,3]=10

In [ ]:
print(df)

    수학  영어  과학  국어
이름
서준  90  70  80  10
동원  80  80  80  80
연아  70  90  80  80
동규  10  14  35  65

In [ ]:
# 행/열 위치 바꾸기 - transpose

In [ ]:
df=df.transpose()

In [ ]:
print(df)

이름  서준  동원  연아  동규
수학  90  80  70  10
영어  70  80  90  14
과학  80  80  80  35
국어  10  80  80  65

In [9]:
# set_index() 사용하여 인덱스 변경(열 기준준)

In [17]:
import pandas as pd

In [18]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,85,100],
           '체육':[100,90,90]
           }

In [19]:
df=pd.DataFrame(exam_data)

In [20]:
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   85   90
2  인아  70  95  100   90

In [21]:
ndf=df.set_index(['이름'])

In [22]:
print(ndf)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   85   90
인아  70  95  100   90

In [10]:
#reset_index()사용

In [23]:
new_index=['서준','우현','인아','d','e']

In [25]:
print(ndf.reindex(new_index,fill_value=0))

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   85   90
인아  70  95  100   90
d    0   0    0    0
e    0   0    0    0

In [28]:
# reset_index

In [29]:
import numpy as np

In [30]:
dict_data={'c0': [1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

In [31]:
df=pd.DataFrame(dict_data,index=['r0','r1','r2'])

In [32]:
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [35]:
print(df.reset_index())

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

In [ ]:
# sort_index() / ascending옵션 --> false : 내림차순, True : 오름차순

In [37]:
print(df.sort_index(ascending=False))

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

#산술연산

In [ ]:
#시리즈 연산

In [ ]:
# 순서와 상관없이 같은 인덱스 값끼리 사칙연산

In [39]:
import pandas as pd

In [40]:
student1=pd.Series({'국어':100,'수학':90,'영어':80})

In [41]:
a=student1/200

In [42]:
print(a)

국어    0.50
수학    0.45
영어    0.40
dtype: float64

In [43]:
student2=pd.Series({'수학':50,'영어':100,'국어':70})

In [44]:
print(student1+student2)

국어    170
수학    140
영어    180
dtype: int64

In [ ]:
# 데이터프레임 연산

In [45]:
import pandas as np

In [48]:
import seaborn as sns

In [55]:
titanic=sns.load_dataset('titanic')

In [56]:
print(titanic)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [57]:
df=titanic.loc[:,['age','fare']]

In [61]:
print(df.head()) #첫 5행만 표시

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [62]:
addition=df+10

In [64]:
print(addition.head())

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

In [65]:
# 데이터프레임 간의 연산(같은 index끼리 계산되는 Series와 다르게, 같은 행,열 위치 원소끼리 계산산)

In [66]:
substraction=addition-df

In [67]:
print(substraction.head())

    age  fare
0  10.0  10.0
1  10.0  10.0
2  10.0  10.0
3  10.0  10.0
4  10.0  10.0